[submodule "test_data/polkadot_new"]
	path = test_data/polkadot_new
	url = https://github.com/paritytech/polkadot/
[submodule "test_data/polkadot_old"]
	path = test_data/polkadot_old
	url = https://github.com/paritytech/polkadot/
