[package]
name = "substrate-weight-compare"
version = "0.1.1"
edition = "2021"
authors = ["Oliver Tale-Yazdi <oliver.tale-yazdi@parity.io>"]

[[bin]]
name = "swc"
path = "src/cli.rs"

[[bin]]
name = "swc-web"
path = "src/web.rs"

[dependencies]
actix-web = "4.0.1"
ansi_term = "0.12.1"
clap = { version = "3.1.12", features = ["derive"] }
env_logger = "0.9.0"
git2 = "0.14.2"
glob = "0.3.0"
lazy_static = "1.4.0"
log = "0.4.16"
prettytable-rs = "0.8.0"
syn = { version = "1.0.91", features = ["parsing", "full"] }
