[package]
name = "swc_core"
version = "0.6.0"
edition = "2021"
authors = ["Oliver Tale-Yazdi <oliver.tale-yazdi@parity.io>"]

[[bench]]
name = "parse"
harness = false

[[bench]]
name = "term"
harness = false

[features]
version-locked-tests = []
polkadot = []
moonbeam = []
composable = []
substrate = []

[dependencies]
clap = { version = "3.1.12", features = ["derive"] }
env_logger = "0.9.0"
fixed = "1.15.0"
git-version = "0.3.5"
git2 = "0.14.2"
glob = "0.3.0"
lazy_static = "1.4.0"
log = "0.4.16"
proc-macro2 = "1.0.36"
semver = "1.0.9"
serde = { version = "1.0.137", features = [ "derive" ] }
syn = { version = "1.0.91", features = ["parsing", "full"] }

[dev-dependencies]
assert_cmd = "2.0.4"
criterion = { version = "0.3", features = [ "html_reports" ] }
rstest = "0.12.0"
serial_test = "*"
