[package]
name = "swc_web"
version = "0.4.1"
edition = "2021"
authors = ["Oliver Tale-Yazdi <oliver.tale-yazdi@parity.io>"]

[[bin]]
name = "swc-web"
path = "src/main.rs"

[features]
polkadot = []

[dependencies]
swc_core = { path = "../core" }

actix-web = { version = "4.0.1", features = ["openssl"] }
clap = { version = "3.1.12", features = ["derive"] }
env_logger = "0.9.0"
lazy_static = "1.4.0"
log = "0.4.16"
openssl = { version = "0.10", features = ["v110"] }
syn = { version = "1.0.91", features = ["parsing", "full"] }
serde = { version = "1.0.137", features = [ "derive" ] }
sailfish = "0.4.0"
badge-maker = "0.2.1"

[dev-dependencies]
assert_cmd = "2.0.4"
serial_test = "*"
reqwest = { version = "0.11.10", default_features = false, features = ["blocking"] }
